head
  meta(charset='utf-8')
  title CREAR MASCOTA
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") ×
              span.sr-only Close
            h4#myModalLabel.modal-title
              | Crear Mascota
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='http://localhost:3000/pet/crear')
              div.form-group
                label(for='pet_name') Nombre:
                input#name.form-control(type='text', placeholder='Lupita' name='pet_name')
              div.form-group
                label(for='age') Edad:
                input#name.form-control(type='number', placeholder='0' name='age')
              table
                tr
                  th ID
                  th Animal
                  th Raza
                  th Descripcion
                each val in rows 
                  tr
                    td= val.tyid
                    td= val.ttype
                    td= val.breed
                    td= val.type_description
              div.form-group
                label(for='tyid') Id Raza:
                input#name.form-control(type='number', placeholder='0' name='tyid')
              button.btn.btn-primary(type="submit", name="submit") Create
          // Modal Footer
          .modal-footer
            h4 footer
